.header{
		position: absolute;
		z-index: 2;
		width: 100%;
		min-height:   80px;
		@mixin atSmall{
			background-color: rgba(255,255,255,.9);
		}
		&--is-expanded{
			background-color: rgba(255,255,255,.95);
			transition: all .3s ease-out;

			@mixin atLarge{
				background-color: rgba(255,255,255,.94);
			}
		}

	&__wrap{
		padding-left: 56px;
		padding-right: 56px;
	}
/*Logotype*/
	&__logo{
				/*display: none;*/
				position: absolute;
				width: 35%;
				display: block;

			@mixin atSmall{
				float: left;
				display: inline-block;
			}

			@mixin atMedium{
				width: 20%;
				float: left;      
			}
		}
/*Menu at min width*/
	&__nav{
			width: 100%;
			float: right;
			padding: 30px 30px 40px 30px;
			ul{
				margin: 0;
				padding: 0;
				@mixin clearfix;

				li{
					list-style: none;
					padding-top: 10px;
					a{
						display: block;
						text-decoration: none; 
						text-align: center;
						padding: 12px 20px 12px 20px;
						color: #a19fa1;
						font-size: 1rem; 
						font-weight: bold;
						-moz-transform: matrix( 1.00034469820604,0,0,1.0003579466835,0,0);
						-webkit-transform: matrix( 1.00034469820604,0,0,1.0003579466835,0,0);
						-ms-transform: matrix( 1.00034469820604,0,0,1.0003579466835,0,0);
					}
				}
			}
/*at 1200 px and >*/
		@mixin atMedium{
			width: 70%;
			float: right;
			padding: 0;
			ul{
				margin: 0;
				padding: 0;
				@mixin clearfix;

				li{
					float: left;
					list-style: none;
					padding-top: 10px;
					
					a{
						display: inline;
						text-decoration: none; 
						padding: 26px 20px 30px 20px;
						color: #a19fa1;
						font-size: 1rem; 
						font-weight: bold;
						-moz-transform: matrix( 1.00034469820604,0,0,1.0003579466835,0,0);
						-webkit-transform: matrix( 1.00034469820604,0,0,1.0003579466835,0,0);
						-ms-transform: matrix( 1.00034469820604,0,0,1.0003579466835,0,0);
						&:hover{
							border-top: 6px solid #ffec0a;
							background: linear-gradient(to bottom, #ffffff, rgba(255,255,255,0));
							-webkit-background: linear-gradient(to bottom, #ffffff, rgba(255,255,255,0));
							-moz-background: linear-gradient(to bottom, #ffffff, rgba(255,255,255,0));
							-ms-background: linear-gradient(to bottom, #ffffff, rgba(255,255,255,0));
						}
					}
				}
			}
		}
/*end*/
	}
	.wrapper--media-noshadow{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.sign{
		border:1px solid #a19fa1;
		border-radius: 4px;
		padding: 14px 28px 14px 28px ;
		&:hover{
			border:none;
			background: linear-gradient(to top, #ffed1d 10%, #fbf4a3);
			-webkit-background: linear-gradient(to top, #ffed1d, #fbf4a3);
			-moz-background: linear-gradient(to top, #ffed1d, #fbf4a3));
			-ms-background: linear-gradient(to top, #ffed1d 10%, #fbf4a3);
			border-top: 0px solid #ffec0a;
			color: #000;
		}
		&-margin-left{
			margin-left: 4px;
		}
/*Menu content*/
	}
	&__menu-content{
		display: none;

		@mixin atLarge{
			display: block;
		}

		&--is-visible{
			display: block;
			margin-top: 30px;
			@mixin atLarge{
				margin-top: 0;
			}
		}
	}
/*Menu-icon*/
	&__menu-icon{
		position: relative;
		float: right;
		margin-top: 20px;
		z-index: 3;
		@mixin atSmall{
			margin-top: 12px;
		}

		&__top{
			content: "";
			position: absolute;
			top: -5px;
			left: -30px;
			width:  30px;
			height:   3px;
			background-color: #fff;
			@mixin atSmall{
				top: 0px;
				left: -30px;
				width:  30px;
				height:   6px;
				background-color: #000;
			}
		}
/*botttom*/
		&__middle{
			position: absolute;
			top: 5px;
			left:-30px;
			width:  30px;
			height:   3px;
			background-color: #fff;
			transform-origin:  0 0;
			transition: transform .3s ease-out;
			@mixin atSmall{
				top: 12px;
				left: -30px;
				width:  30px;
				height:   6px;
				background-color: #000;
				transform-origin:  0 0;
				transition: transform .3s ease-out;

			}
		}
/*top*/
		&__bottom{
			content:  "";
			position: absolute;
			bottom:12px;
			left: -30px;
			width:  30px;
			height:   3px;
			background-color: #fff;
			transform-origin:  0 100%;
			transition: transform .3s ease-out;
			@mixin atSmall{
				bottom: 6px;
				left: -30px;
				width:  30px;
				height:   6px;
				background-color: #000;
				transform-origin:  0 100%;
				transition: transform .3s ease-out;
			}
		}

		@mixin atSmall{
				background-color: #000;
		}
		@mixin atLarge{
			display: none;
		}
	}
	&--button-x--top{
		background-color: #000;
		transform: rotate(-45deg) scaleX(1.1)translateY(2.5px);
		@mixin atSmall{
			background-color: red;
			transform: rotate(-45deg) scaleX(1.15)translateY(1.5px);
		}
	}
	&--button-x--middle{
		background-color: #000;
		opacity: 0;
	}
	&--button-x--bottom{
		background-color: #000;
		transform: rotate(45deg)scaleX(1.1)translateY(-2.5px);
		@mixin atSmall{
			background-color: red;
			transform: rotate(45deg) scaleX(1.15)translateY(-1.5px);
		}
	}
}


